<div class="row">
    <app-parent></app-parent>>
</div>
<br>
<br>
<div class="row">
    <app-coditional-render></app-coditional-render>
</div>
<br>
<br>
<div class="row">
    <app-style-directive></app-style-directive>
</div>
<br>
<br>
<div class="row">
    <app-ng-class-example></app-ng-class-example>
</div>
<br>
<br>
<div class="row">
    <app-ng-on-init *ngIf="display" [var]="num"></app-ng-on-init>
    <button class="btn btn-primary" (click)="onToggle()">TOGGLE</button>
</div>
<br>
<br>
<div class="row">
    <app-ng-on-changes-parent></app-ng-on-changes-parent>
</div>
<br>
<br>
<div class="row">
    <app-validation-shorthand></app-validation-shorthand>
</div>
<br>
<br>
<div class="row">
    <app-stepper-component></app-stepper-component>
</div>
